<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymrleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de filme</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>NOME</th>
        <th>DURACAO</th>
        <th>ANO DO LANCAMENTO</th>
        <th>GENERO</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="filme : ${lista}">
        <td th:text="${filme.nome}"></td>
        <td th:text="${filme.duracaoEmMinutos}"></td>
        <td th:text="${filme.anoLancamento}"></td>
        <td th:text="${filme.genero}"></td>
    </tr>

    </tbody>
</table>

</body>
</html>